@import '../../../libs/ngx-chat-ui/src/themes/default/styles';

body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

ngx-chat-ui-container {
  height: 230px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
  background-color: #f1f1f1;
}
