<h2>Select Action Payload</h2>
<ngx-chat-ui-container
  chatKey="first"
  [state]="state.first"
  [partners]="partners"
  [messages]="messages.first"
  (response)="onResponse('first', $event)"
></ngx-chat-ui-container>

<h2>Text Action Payload</h2>
<ngx-chat-ui-container
  chatKey="second"
  [state]="state.second"
  [partners]="partners"
  [messages]="messages.second"
  (response)="onResponse('second', $event)"
></ngx-chat-ui-container>

<h2>List Action Payload</h2>
<ngx-chat-ui-container
  chatKey="third"
  [state]="state.third"
  [partners]="partners"
  [messages]="messages.third"
  (response)="onResponse('third', $event)"
></ngx-chat-ui-container>
